html,
body,
#app {
  @apply min-h-full m-0 p-0;
}

html.dark {
  @apply bg-blue-gray-800;
}

body {
  @apply font-main;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply fixed z-1100 top-0 left-0 w-full h-2px bg-cyan-500 opacity-75;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}