@import './general.css';

@import './aspect-ratio.css';
@import './img.css';
@import './nav.css';
@import './timeline-grid.css';
@import './tippy.css';


.btn {
  @apply rounded-full cursor-pointer bg-cyan-500 text-white py-1.5
    px-4 transition ease-in-out duration-200
    inline-flex items-center lg:text-lg
    hover:bg-cyan-600
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;

  .icon-arrow-right {
    @apply text-sm ml-2 transform transition ease-in-out duration-200;
  }

  &:hover {
    .icon-arrow-right {
      @apply translate-x-1;
    }
  }
}

.icon-btn {
  @apply cursor-pointer opacity-75 transition ease-in-out
    duration-200 inline-flex select-none prose-lg
    hover:opacity-100 hover:text-cyan-500;
}

.skill-icon {
  @apply bg-white rounded-full flex h-14 m-1 shadow-lg transition ease-in-out text-2xl 
    w-14 duration-200 items-center justify-center lg:h-16 lg:m-1.5
    lg:text-3xl lg:w-16 dark:bg-blue-gray-800
    hover:bg-light-300 hover:shadow-xl hover:dark:bg-blue-gray-900;

  &--is-small {
    @apply h-14 text-2xl w-14;
  }

  &--is-on-card {
    @apply bg-light-400 dark:bg-blue-gray-700
      hover:bg-light-200 hover:dark:bg-blue-gray-800;
  }
}
