.nav {
  @apply relative;

  &__toggle {
    @apply cursor-pointer flex flex-col
      w-9 !outline-none lg:hidden;

    span {
      @apply rounded bg-gray-700 h-3px
      my-3px dark:bg-white;
      transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

      &:first-child {
        @apply w-1/2;
      }

      &:nth-of-type(2) {
        @apply w-full;
      }

      &:last-child {
        @apply w-3/4;
      }
    }
    &--is-open {
      span {
        &:first-child {
          transform-origin: bottom;
          transform: rotatez(45deg) translate(3px,0px);
        }

        &:nth-of-type(2) {
          transform-origin: top;
          transform: rotatez(-45deg);
        }

        &:last-child {
          @apply !w-1/2;
          transform-origin: bottom;
          transform: translate(15px,-3px) rotatez(45deg);
        }
      }
    }
  }

  &__menu {
    @apply rounded-bl-lg rounded-br-lg flex flex-col bg-light-700 top-full shadow-lg lg:items-center
      min-w-42 mt-2 opacity-0 z-1 absolute lg:top-0 lg:relative
      invisible lg:bg-transparent lg:rounded-none lg:flex-row
      lg:shadow-none lg:mt-0 lg:opacity-100
      lg:visible dark:bg-blue-gray-900 lg:dark:bg-transparent;
      transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;

    &--is-open {
      @apply opacity-100 visible;
    }
  }

  &__button {
    @apply flex text-lg opacity-75 py-2 px-3 transition ease-in-out duration-200
      items-center lg:mx-2 lg:text-base lg:px-0
      hover:opacity-100 hover:text-cyan-500;
    
    &--is-active {
      @apply opacity-100 text-cyan-500;
    }
  }
}
