.timeline-grid {
  &:not(:first-child) {
    @apply mt-12 sm:mt-8;
  }

  &__timespan {
    @apply absolute top-0 right-1.5 transform -translate-y-4 py-1 px-2
      bg-cyan-500 text-white 
      rounded-full rounded-br-none whitespace-nowrap;
  }

  @screen sm {
    &__arrow-wrapper {
      @apply absolute top-1/2;
    }
  
    &__arrow {
      @apply w-4 h-4 transform rotate-45 
        bg-light-400 dark:bg-blue-gray-800;
    }

    &__timeline-dot-wrapper {
      @apply absolute top-1/2 right-0 transform;
    }
  
    &__timeline-dot {
      @apply w-8 h-8 bg-cyan-500 rounded-full transform;
    }

    &__timespan {
      @apply absolute top-1/2 -translate-y-1/2 p-0 
        bg-transparent rounded-none text-current text-xl
    }

    &:nth-child(odd) {
      .timeline-grid {
        &__arrow-wrapper {
          @apply right-0 transform -translate-y-2;
        }

        &__arrow {
          @apply translate-x-2;
        }

        &__timeline-dot-wrapper {
          @apply right-0 -translate-y-1/2;
        }

        &__timeline-dot {
          @apply translate-x-14;
        }

        &__timespan {
          @apply left-0 right-auto;
        }
      }
    }

    &:nth-child(even) {
      .timeline-grid {
        &__col {
          &:first-child {
            @apply order-2;
          } 

          &:last-child {
            @apply order-1;
          } 
        }

        &__arrow-wrapper {
          @apply left-0 transform -translate-y-2;
        }

        &__arrow {
          @apply -translate-x-2;
        }

        &__timeline-dot-wrapper {
          @apply left-0 -translate-y-1/2;
        }

        &__timeline-dot {
          @apply -translate-x-14;
        }

        &__timespan {
          @apply right-0;
        }
      }
    }
  }
}