<template>
  <div>
    <div class="pt-16 pb-8 relative lg:pb-0">
      <div class="container">
        <div class="grid gap-y-8 grid-cols-12 sm:gap-x-8 lg:gap-x-20">
          <div class="col-span-12 sm:col-span-7">
            <h1 class="font-bold mb-8 text-3xl sm:text-4xl">
              {{ t('intro.title') }}
            </h1>
            <p class="font-light text-xl mb-6 leading-8">
              {{ t('intro.summary') }}
            </p>
            <div class="mb-4">
              <Socials icon-class="!text-xl" />
            </div>
            <a v-smooth-scroll="{ duration: 1000 }" href="#footer" class="btn !pl-3">
              <iconoir-chat-lines class="mr-1" /> {{ t('button.contactInformation') }}
            </a>
          </div>
          <div class="col-span-12 sm:col-span-5">
            <div class="flex h-full items-center justify-center">
              <img v-lazy="'/assets/img/illustrations/illustration-programming-icons-1.svg'" alt="Programming icons" class="mx-auto max-w-68 w-4/5 sm:w-full lg:max-w-none">
            </div>
          </div>
        </div>
      </div>

      <RandomWave color-classes="fill-white dark:fill-blue-gray-800" />
    </div>

    <div class="bg-light-500 pt-18 pb-12 relative sm:pt-24 lg:pt-32 lg:pb-8 2xl:pt-42 2xl:pb-0 dark:bg-blue-gray-700">
      <div class="container">
        <div class="text-center mb-12">
          <h2 class="font-bold mb-4 text-3xl sm:text-4xl">
            {{ t('techniques.title') }}
          </h2>
          <p class="font-light text-xl">
            {{ t('techniques.subtitle') }}
          </p>
        </div>

        <div class="grid gap-y-8 grid-cols-12 md:gap-x-8 lg:gap-x-16">
          <div class="col-span-12 lg:col-span-6">
            <div class="flex h-full items-center justify-center">
              <img v-lazy="'/assets/img/illustrations/illustration-projects-1.svg'" alt="Responsive" class="mx-auto max-w-68 w-4/5 sm:max-w-100 md:max-w-120 lg:max-w-none lg:w-full">
            </div>
          </div>
          <div class="col-span-12 lg:col-span-6">
            <div class="flex flex-wrap justify-center">
              <Techniques :skills="techniques" />
            </div>
            <div class="flex flex-wrap mt-8 justify-center">
              <router-link to="/timeline" class="my-1 mx-2 btn">
                {{ t('button.myWorkExperience') }}<fa-solid-arrow-right class="icon-arrow-right" />
              </router-link>
              <router-link to="/projects" class="my-1 mx-2 btn">
                {{ t('button.projectsInformation') }}<fa-solid-arrow-right class="icon-arrow-right" />
              </router-link>
            </div>
          </div>
        </div>
      </div>

      <RandomWave color-classes="fill-light-500 dark:fill-blue-gray-700" />
    </div>

    <ProjectBlock />
  </div>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n'

const { t } = useI18n()

const techniques = ['HTML', 'CSS', 'SCSS', 'PostCSS', 'TailwindCSS', 'Windi CSS', 'JavaScript', 'Vue', 'Vite', 'AlpineJS', 'jQuery', 'PHP', 'Laravel', 'Bootstrap', 'NPM', 'Composer', 'Adobe Photoshop', 'Adobe Illustrator', 'WordPress', 'Storyblok', 'Pyro CMS', 'Opencart']
</script>
