<template>
  <div>
    <div class="pt-16 pb-8 relative lg:pb-0">
      <div class="container">
        <div class="grid gap-y-8 grid-cols-12 sm:gap-x-8 lg:gap-x-20">
          <div class="col-span-12 md:col-span-7">
            <h1 class="font-bold mb-8 text-3xl sm:text-4xl">
              {{ t('projects.title') }}
            </h1>
            <p class="font-light text-xl mb-6 leading-8">
              {{ t('projects.summary') }}
            </p>
          </div>
          <div class="col-span-12 md:col-span-5">
            <div class="flex h-full items-center justify-center">
              <img v-lazy="'/assets/img/illustrations/illustration-responsive-1.svg'" :alt="t('projects.title')" class="mx-auto max-w-92 md:max-w-none">
            </div>
          </div>
        </div>
      </div>

      <RandomWave color-classes="fill-white dark:fill-blue-gray-800" />
    </div>
    <div class="bg-light-500 pt-18 pb-12 relative sm:pt-24 lg:pt-32 lg:pb-8 2xl:pt-42 2xl:pb-6 dark:bg-blue-gray-700">
      <div class="container">
        <transition name="fade" mode="out-in">
          <div v-if="isLoading" class="flex justify-center">
            <img src="/assets/img/loading/spinner-primary.svg" alt="Loading" class="w-28">
          </div>

          <div v-else class="grid gap-8 grid-cols-2 lg:gap-12">
            <div
              v-for="(project, index) in projects"
              :key="index"
              class="col-span-2 sm:col-span-1"
            >
              <ProjectCard
                v-observe-visibility="{
                  callback: animateCard,
                  intersection: {
                    threshold: 0.2,
                  },
                  once: true,
                }"
                class="opacity-0 transform transition translate-y-6 duration-350"
                :title="project.content.title"
                :image="ImageService.transformImage(project.content.screenshot.filename, '0x600')"
                :type="project.content.type"
                :link="project.content.link.url"
                :skills="project.content.skills"
              />
            </div>
          </div>
        </transition>
      </div>

      <RandomWave color-classes="fill-light-500 dark:fill-blue-gray-700" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { useHead } from '@vueuse/head'

import StoryService from '~/service/StoryService'
import ImageService from '~/service/ImageService'

const { t } = useI18n()

useHead({
  title: `RvO | ${t('projects.title')}`,
})

const projects = ref()
const isLoading = ref(true)

const projectsRequest = new StoryService()

projectsRequest.getStory('starts_with=projects')
  .then((response) => {
    projects.value = response
  })
  .finally(() => {
    isLoading.value = false
  })

function animateCard(isVisible, entry) {
  if (isVisible) {
    const projectItem = entry.target
    projectItem.classList.add('!translate-y-0', '!opacity-100')
  }
}
</script>
