<template>
  <div>
    <div class="pt-16 pb-8 relative lg:pb-0">
      <div class="container">
        <div class="grid gap-y-8 grid-cols-12 sm:gap-x-8 lg:gap-x-20">
          <div class="col-span-12 sm:col-span-6 md:col-span-7">
            <h1 class="font-bold mb-8 text-3xl sm:text-4xl">
              {{ t('timeline.title') }}
            </h1>
            <p class="font-light text-xl mb-6 leading-8">
              {{ t('timeline.summary') }}
            </p>
          </div>
          <div class="col-span-12 sm:col-span-6 md:col-span-5">
            <div class="flex h-full items-center justify-center">
              <img v-lazy="'/assets/img/illustrations/illustration-experience-1.svg'" :alt="t('timeline.title')" class="mx-auto max-w-68 w-4/5 sm:w-full md:max-w-none">
            </div>
          </div>
        </div>
      </div>

      <RandomWave color-classes="fill-white dark:fill-blue-gray-800" />
    </div>

    <div class="bg-light-500 pt-18 pb-12 relative sm:pt-24 lg:pt-32 lg:pb-8 2xl:pt-42 2xl:pb-6 dark:bg-blue-gray-700">
      <div class="container">
        <transition name="fade" mode="out-in">
          <div v-if="isLoading" class="flex justify-center">
            <img src="/assets/img/loading/spinner-primary.svg" alt="Loading" class="w-28">
          </div>

          <div v-else class="relative">
            <TimelineGrid
              v-for="(item, index) in timeline"
              :key="index"
              v-observe-visibility="{
                callback: animateGrid,
                intersection: {
                  threshold: 0.5,
                },
                once: true,
              }"
              class="opacity-0 transform transition translate-y-6 duration-350"
              :title="item.content.title"
              :timespan="item.content.period"
              :logo="ImageService.transformImage(item.content.logo.filename, '0x90')"
              :logo-wrapper-class="item.content.logoWrapperClass"
              :logo-class="item.content.logoClass"
              :details="item.content.details"
              :location="item.content.location"
              :link="item.content.link.url"
            />

            <div class="rounded-full h-full bg-cyan-500 opacity-20 transform top-0 right-0 w-3 absolute sm:right-auto sm:left-1/2 sm:-translate-x-1/2"></div>
          </div>
        </transition>
      </div>

      <RandomWave color-classes="fill-light-600 dark:fill-blue-gray-700" />
    </div>

    <ProjectBlock />
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { useHead } from '@vueuse/head'

import StoryService from '~/service/StoryService'
import ImageService from '~/service/ImageService'

const { t, locale } = useI18n()

useHead({
  title: `RvO | ${t('timeline.title')}`,
})

const timeline = ref()
const isLoading = ref(true)

const timelineRequest = new StoryService()

timelineRequest.getStory(locale.value === 'en' ? 'starts_with=timeline' : 'starts_with=timeline&language=nl')
  .then((response) => {
    timeline.value = response
  })
  .finally(() => {
    isLoading.value = false
  })

function animateGrid(isVisible, entry) {
  if (isVisible) {
    const gridItem = entry.target
    gridItem.classList.add('!translate-y-0', '!opacity-100')
  }
}
</script>
