<script setup lang="ts">
import { useI18n } from 'vue-i18n'
import { useDark, useToggle } from '@vueuse/core'

const isDark = useDark()
const toggleDark = useToggle(isDark)

const { t } = useI18n()
</script>

<template>
  <button class="icon-btn !outline-none" :title="t('button.toggleDark')" type="button" @click="toggleDark()">
    <iconoir-half-moon v-if="isDark" />
    <iconoir-sun-light v-else />
  </button>
</template>
