<script setup lang="ts">
import { useI18n } from 'vue-i18n'

const { t } = useI18n()
</script>

<template>
  <div id="footer" class="bg-light-700 pt-18 pb-12 text-gray-700 sm:pt-24 lg:pt-42 dark:bg-blue-gray-900 dark:text-gray-200">
    <div class="container">
      <div class="flex flex-wrap justify-center sm:flex-nowrap sm:justify-between">
        <div class="sm:mr-12">
          <h4 class="font-bold mb-4 text-3xl">
            {{ t('footer.title') }}
          </h4>
          <p class="font-light text-xl mb-8">
            {{ t('footer.subtitle') }}
          </p>
          <ul class="mb-4">
            <li>
              <a href="mailto:robinvoor@gmail.com" class="opacity-75 transition ease-in-out duration-200 inline-flex items-center hover:opacity-100 hover:text-cyan-500"><iconoir-mail class="mr-1" />robinvoor@gmail.com</a>
            </li>
            <li class="mt-1">
              <a href="https://www.google.com/maps/place/Boxmeer/@51.6474854,5.9169833,14z/data=!3m1!4b1!4m5!3m4!1s0x47c713081f0cb315:0xd9e89c67006fe458!8m2!3d51.6452689!4d5.9566657" target="_blank" class="opacity-75 transition ease-in-out duration-200 inline-flex items-center hover:opacity-100 hover:text-cyan-500"><iconoir-pin-alt class="mr-1" />{{ t('footer.location') }}</a>
            </li>
          </ul>
        </div>
        <div class="flex-shrink-0 mt-8 text-center sm:mt-0">
          <img src="/assets/img/pic.jpg" alt="Robin" class="rounded-full w-42">
          <p class="font-light mt-2 text-gray-500 dark:text-gray-400">
            <span class="text-cyan-500 font-medium">R</span>obin <span class="text-cyan-500 font-medium">v</span>an <span class="text-cyan-500 font-medium">O</span>orschot
          </p>
        </div>
      </div>

      <div class="mt-12 grid grid-cols-3">
        <div class="col-span-1">
          <Socials class="h-full" icon-class="!mr-2 !sm:mr-4" />
        </div>
        <div class="col-span-1">
          <div class="flex justify-center">
            <router-link class="transition-opacity duration-150 block hover:opacity-80" to="/" title="RvO">
              <img src="/assets/img/rvo-primary.svg" alt="RvO" class="w-12">
            </router-link>
          </div>
        </div>
        <div class="col-span-1">
          <div class="flex h-full items-center justify-end">
            <DarkToggle />
            <LanguageToggle class="ml-4" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
