<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { onClickOutside } from '@vueuse/core'

const { t } = useI18n()

const navbar = ref(null)
const navbarOpen = ref(false)

onClickOutside(navbar, () => {
  navbarOpen.value = false
})

const toggleNavbar = () => {
  navbarOpen.value = !navbarOpen.value
}
</script>

<template>
  <header class="bg-light-700 py-2 text-gray-700 dark:bg-blue-gray-900 dark:text-gray-200">
    <div class="container">
      <div class="flex items-center justify-between">
        <router-link class="rounded-full bg-light-700 border-5 border-light-700 transform transition-opacity top-0 left-1/2 z-10 -translate-x-1/2 duration-150 block absolute lg:border-none lg:transform-none lg:left-0 lg:relative dark:bg-blue-gray-900 dark:border-blue-gray-900 hover:opacity-80" to="/" title="RvO">
          <img src="/assets/img/rvo-primary.svg" alt="RvO" class="w-14 lg:w-16">
        </router-link>

        <nav ref="navbar" class="nav lg:ml-4">
          <button class="nav__toggle" :class="{ 'nav__toggle--is-open': navbarOpen }" title="Menu" @click="toggleNavbar">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div class="nav__menu" :class="{ 'nav__menu--is-open': navbarOpen }">
            <router-link class="nav__button" active-class="nav__button--is-active" to="/" title="Home" @click="toggleNavbar">
              <iconoir-home-alt class="mr-2 lg:mr-1" />Home
            </router-link>
            <router-link class="nav__button" active-class="nav__button--is-active" to="/timeline" :title="t('nav.timeline')" @click="toggleNavbar">
              <fluent-timeline-24-regular class="mr-2 lg:mr-1" />{{ t('nav.timeline') }}
            </router-link>
            <router-link class="nav__button" active-class="nav__button--is-active" to="/projects" :title="t('nav.projects')" @click="toggleNavbar">
              <iconoir-laptop class="mr-2 lg:mr-1" />{{ t('nav.projects') }}
            </router-link>
            <a v-smooth-scroll="{ duration: 1000 }" href="#footer" class="nav__button" title="Contact">
              <iconoir-chat-lines class="mr-2 lg:mr-1" /> Contact
            </a>
            <div class="flex justify-center border-t border-gray-500 border-opacity-50 mt-2 py-3 px-2 lg:hidden">
              <Socials icon-class="mr-6 !text-xl" />
            </div>
          </div>
        </nav>

        <Socials class="ml-auto hidden lg:flex" />

        <div class="flex items-center">
          <div class="border-l border-gray-500 h-6 mx-6 opacity-50 hidden lg:block dark:border-white"></div>
          <DarkToggle />
          <LanguageToggle class="ml-4" />
        </div>
      </div>
    </div>
  </header>
</template>
