<template>
  <a class="cursor-pointer flex flex-col text-xs text-center px-1 text-gray-400 w-6 block" :title="t('button.toggleLanguage')" @click="toggleLocales">
    <span :class="{ 'font-extrabold text-cyan-500': selectedLanguage === 'en' }">EN</span>
    <span class="border-t mt-px border-gray-500 w-full opacity-50 dark:border-white"></span>
    <span :class="{ 'font-extrabold text-cyan-500': selectedLanguage === 'nl' }">NL</span>
  </a>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { useRoute } from 'vue-router'

const { t, locale } = useI18n()

locale.value = localStorage.getItem('language') || 'en'

const selectedLanguage = ref(locale.value)

const route = useRoute()

const toggleLocales = () => {
  if (locale.value === 'en') {
    locale.value = 'nl'
    selectedLanguage.value = 'nl'
  }
  else {
    locale.value = 'en'
    selectedLanguage.value = 'en'
  }

  localStorage.setItem('language', locale.value)

  // Reload required to load new API call for translations
  if (route.path === '/timeline')
    location.reload()
}
</script>
