<template>
  <div class="pt-18 pb-12 relative sm:pt-24 lg:pt-32 lg:pb-8 2xl:pt-42 2xl:pb-0">
    <div class="container">
      <div class="text-center mb-12">
        <h2 class="font-bold mb-4 text-3xl sm:text-4xl">
          {{ t('projects.title') }}
        </h2>
        <p class="font-light text-xl">
          {{ t('projects.subtitle') }}
        </p>
      </div>

      <transition name="fade" mode="out-in">
        <div v-if="isLoading" class="flex justify-center">
          <img src="/assets/img/loading/spinner-primary.svg" alt="Loading" class="w-28">
        </div>

        <div v-else class="grid gap-8 grid-cols-2 lg:gap-12">
          <div v-for="(project, index) in projects" :key="index" class="col-span-2 sm:col-span-1">
            <ProjectCard
              :title="project.content.title"
              :image="ImageService.transformImage(project.content.screenshot.filename, '0x600')"
              :type="project.content.type"
              :link="project.content.link.url"
              :skills="project.content.skills"
            />
          </div>
        </div>
      </transition>

      <div class="flex mt-8 justify-center">
        <router-link to="/projects" class="my-1 mx-2 btn">
          {{ t('button.projectsSeeAll') }}<fa-solid-arrow-right class="icon-arrow-right" />
        </router-link>
      </div>
    </div>

    <RandomWave color-classes="fill-white dark:fill-blue-gray-800" />
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'

import StoryService from '~/service/StoryService'
import ImageService from '~/service/ImageService'

const { t } = useI18n()

const projects = ref()
const isLoading = ref(true)

const projectsRequest = new StoryService()

projectsRequest.getStory('starts_with=projects&filter_query[favorite][in]=true')
  .then((response) => {
    projects.value = response
  })
  .finally(() => {
    isLoading.value = false
  })

</script>
