<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'

defineProps({
  title: {
    type: String,
    required: true,
  },
  image: {
    type: String,
    required: false,
  },
  type: {
    type: String,
    required: true,
  },
  link: {
    type: String,
    required: false,
  },
  skills: {
    type: Array,
    required: true,
  },
})

const { t, locale } = useI18n()

const currentLocale = ref()
currentLocale.value = locale
</script>

<template>
  <div class="bg-white rounded-lg flex flex-col mx-auto shadow-lg max-w-92 overflow-hidden sm:max-w-none dark:bg-blue-gray-900">
    <div class="flex justify-center items-center aspect-16-10">
      <img v-lazy="image" :alt="title" class="object-cover object-top aspect-16-10">
    </div>
    <div class="p-4 pt-5">
      <div class="flex flex-col flex-wrap items-center">
        <h3 class="font-bold text-2xl">
          {{ title }}
        </h3>
        <div class="h-px bg-gray-700 my-4 w-24 dark:bg-gray-200" />
      </div>
      <div class="mb-6">
        <div class="flex flex-wrap justify-center">
          <Techniques :skills="skills" is-small is-on-card />
        </div>
      </div>
      <div class="flex h-10 items-center justify-between">
        <div class="rounded bg-gray-200 text-sm py-1 px-2 inline-flex items-center dark:bg-blue-gray-700">
          <mdi-tag-outline class="mr-1" />
          {{ t(`projects.type.${type}`) }}
        </div>
        <a
          v-if="link"
          :href="link"
          :title="link"
          target="_blank"
          rel="noreferrer"
          class="btn"
        >{{ t('button.visit') }} <tabler-external-link class="ml-2" /></a>
      </div>
    </div>
  </div>
</template>
