<template>
  <svg
    class="top-full w-full z-1 absolute transform -translate-y-px"
    :class="colorClasses"
    viewBox="0 0 900 45"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
  ><path :d="randomWaveString" stroke-linecap="round" stroke-linejoin="miter"></path></svg>
</template>

<script setup lang="ts">
import { ref } from 'vue'

const randomWaveString = ref()
const waves = [
  'M0 42L30 37.7C60 33.3 120 24.7 180 22.7C240 20.7 300 25.3 360 29.3C420 33.3 480 36.7 540 36.8C600 37 660 34 720 31C780 28 840 25 870 23.5L900 22L900 0L870 0C840 0 780 0 720 0C660 0 600 0 540 0C480 0 420 0 360 0C300 0 240 0 180 0C120 0 60 0 30 0L0 0Z',
  'M0 26L30 28C60 30 120 34 180 37.2C240 40.3 300 42.7 360 40.3C420 38 480 31 540 26.2C600 21.3 660 18.7 720 18.2C780 17.7 840 19.3 870 20.2L900 21L900 0L870 0C840 0 780 0 720 0C660 0 600 0 540 0C480 0 420 0 360 0C300 0 240 0 180 0C120 0 60 0 30 0L0 0Z',
  'M0 12L30 13C60 14 120 16 180 19.7C240 23.3 300 28.7 360 30.5C420 32.3 480 30.7 540 29.2C600 27.7 660 26.3 720 27.5C780 28.7 840 32.3 870 34.2L900 36L900 0L870 0C840 0 780 0 720 0C660 0 600 0 540 0C480 0 420 0 360 0C300 0 240 0 180 0C120 0 60 0 30 0L0 0Z',
  'M0 33L30 34.2C60 35.3 120 37.7 180 36.3C240 35 300 30 360 29.7C420 29.3 480 33.7 540 34.3C600 35 660 32 720 29.5C780 27 840 25 870 24L900 23L900 0L870 0C840 0 780 0 720 0C660 0 600 0 540 0C480 0 420 0 360 0C300 0 240 0 180 0C120 0 60 0 30 0L0 0Z',
  'M0 20L30 23.7C60 27.3 120 34.7 180 37.5C240 40.3 300 38.7 360 36.8C420 35 480 33 540 32.2C600 31.3 660 31.7 720 33.2C780 34.7 840 37.3 870 38.7L900 40L900 0L870 0C840 0 780 0 720 0C660 0 600 0 540 0C480 0 420 0 360 0C300 0 240 0 180 0C120 0 60 0 30 0L0 0Z',
  'M0 14L30 18.3C60 22.7 120 31.3 180 35.2C240 39 300 38 360 35.5C420 33 480 29 540 30.2C600 31.3 660 37.7 720 36.2C780 34.7 840 25.3 870 20.7L900 16L900 0L870 0C840 0 780 0 720 0C660 0 600 0 540 0C480 0 420 0 360 0C300 0 240 0 180 0C120 0 60 0 30 0L0 0Z',
  'M0 13L30 16.7C60 20.3 120 27.7 180 32.2C240 36.7 300 38.3 360 34.5C420 30.7 480 21.3 540 22.3C600 23.3 660 34.7 720 38.8C780 43 840 40 870 38.5L900 37L900 0L870 0C840 0 780 0 720 0C660 0 600 0 540 0C480 0 420 0 360 0C300 0 240 0 180 0C120 0 60 0 30 0L0 0Z',
]

const randomWaveSelector = Math.floor(Math.random() * waves.length)
randomWaveString.value = waves[randomWaveSelector]

defineProps({
  colorClasses: {
    type: String,
    required: true,
  },
})
</script>
