<template>
  <div class="flex items-center">
    <a
      class="mr-4 icon-btn"
      :class="iconClass"
      href="https://www.linkedin.com/in/robin-van-oorschot-63532983/"
      target="_blank"
      rel="noreferrer"
      title="LinkedIn"
    >
      <iconoir-linkedin />
    </a>
    <a
      class="mr-4 icon-btn"
      :class="iconClass"
      href="https://github.com/robinvoor/"
      target="_blank"
      rel="noreferrer"
      title="GitHub"
    >
      <iconoir-github />
    </a>
    <a
      class="icon-btn !mr-0"
      :class="iconClass"
      href="https://gitlab.com/robinvoor/"
      target="_blank"
      rel="noreferrer"
      title="GitLab"
    >
      <iconoir-gitlab-full />
    </a>
  </div>
</template>

<script setup lang="ts">
defineProps({
  iconClass: {
    type: String,
    required: false,
  },
})
</script>
