<template>
  <div
    v-for="(skill, index) in skills"
    :key="index"
    v-tippy="{ content: skill }"
    class="skill-icon"
    :class="{ 'skill-icon--is-small': isSmall, 'skill-icon--is-on-card': isOnCard }"
  >
    <vscode-icons-file-type-html v-if="skill === 'HTML'" />
    <vscode-icons-file-type-css v-if="skill === 'CSS'" />
    <vscode-icons-file-type-scss v-if="skill === 'SCSS'" />
    <vscode-icons-file-type-postcss v-if="skill === 'PostCSS'" />
    <vscode-icons-file-type-tailwind v-if="skill === 'TailwindCSS'" />
    <file-icons-windi v-if="skill === 'Windi CSS'" class="text-cyan-500" />
    <logos-javascript v-if="skill === 'JavaScript'" />
    <vscode-icons-file-type-vue v-if="skill === 'Vue'" />
    <vscode-icons-file-type-vite v-if="skill === 'Vite'" />
    <simple-icons-alpinedotjs v-if="skill === 'AlpineJS'" />
    <simple-icons-jquery v-if="skill === 'jQuery'" />
    <vscode-icons-file-type-php3 v-if="skill === 'PHP'" />
    <logos-laravel v-if="skill === 'Laravel'" />
    <simple-icons-bootstrap v-if="skill === 'Bootstrap'" class="text-violet-500" />
    <vscode-icons-file-type-npm v-if="skill === 'NPM'" />
    <vscode-icons-file-type-composer v-if="skill === 'Composer'" />
    <vscode-icons-file-type-photoshop v-if="skill === 'Adobe Photoshop'" />
    <vscode-icons-file-type-ai v-if="skill === 'Adobe Illustrator'" />
    <fa-brands-wordpress-simple v-if="skill === 'WordPress'" />
    <simple-icons-storyblok v-if="skill === 'Storyblok'" />
    <whh-pyrocms v-if="skill === 'Pyro CMS'" />
    <fa-brands-opencart v-if="skill === 'Opencart'" class="text-cyan-400" />
  </div>
</template>

<script setup lang="ts">
defineProps({
  skills: {
    type: Array,
    required: true,
  },
  isSmall: {
    type: Boolean,
    required: false,
  },
  isOnCard: {
    type: Boolean,
    required: false,
  },
})
</script>
