<template>
  <div class="grid grid-cols-12 timeline-grid sm:gap-x-20 sm:grid-cols-2">
    <div class="col-span-11 timeline-grid__col sm:col-span-1">
      <div class="rounded-lg flex flex-col bg-light-400 shadow-lg timeline-grid__card relative dark:bg-blue-gray-800">
        <div class="rounded-t-lg bg-light-800 p-4 relative dark:bg-blue-gray-900" :class="{ 'pb-8': logo }">
          <div class="font-bold text-lg md:text-2xl">
            {{ title }}
          </div>
          <div v-if="logo" class="rounded-full flex bg-light-400 border-6 border-light-400 h-14 top-11.5 right-4 absolute items-center overflow-hidden sm:top-13 dark:bg-white dark:border-blue-gray-800" :class="logoWrapperClass">
            <img :src="logo" :alt="title" class="max-h-full max-w-40" :class="logoClass">
          </div>
        </div>

        <div class="p-4 pt-5">
          <div class="font-bold mb-2 sm:text-lg">
            Details
          </div>
          <p class="mb-6">
            {{ details }}
          </p>

          <div class="flex flex-wrap items-end justify-between">
            <div class="rounded bg-gray-200 my-1 text-sm py-1 px-2 inline-flex items-center dark:bg-blue-gray-700">
              <iconoir-pin-alt class="mr-1" />{{ location }}
            </div>
            <a
              v-if="link"
              :href="link"
              :title="link"
              target="_blank"
              rel="noreferrer"
              class="btn"
            >{{ t('button.visit') }} <tabler-external-link class="ml-2" /></a>
          </div>
        </div>
        <div class="timeline-grid__arrow-wrapper">
          <div class="timeline-grid__arrow"></div>
        </div>
        <div class="timeline-grid__timeline-dot-wrapper">
          <div class="timeline-grid__timeline-dot"></div>
        </div>
      </div>
    </div>
    <div class="col-span-1 timeline-grid__col">
      <div class="h-full relative">
        <div class="timeline-grid__timespan">
          {{ timespan }}
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'

const { t, locale } = useI18n()

const currentLocale = ref()
currentLocale.value = locale

defineProps({
  title: {
    type: String,
    required: true,
  },
  timespan: {
    type: String,
    required: true,
  },
  logo: {
    type: String,
    required: false,
  },
  logoWrapperClass: {
    type: String,
    required: false,
  },
  logoClass: {
    type: String,
    required: false,
  },
  details: {
    type: String,
    required: true,
  },
  location: {
    type: String,
    required: true,
  },
  link: {
    type: String,
    required: false,
  },
})
</script>
