<script setup lang="ts">
import { useHead } from '@vueuse/head'

// https://github.com/vueuse/head
// you can use this to manipulate the document head in any components,
// they will be rendered correctly in the html results with vite-ssg
useHead({
  title: 'RvO',
  meta: [
    { name: 'description', content: 'Robin van Oorschot Portfolio' },
    { property: 'og:type', content: 'website' },
    { property: 'og:url', content: 'https://robinvoor.com/' },
    { property: 'og:title', content: 'RvO Portfolio' },
    { property: 'og:description', content: 'Robin van Oorschot Portfolio' },
    { property: 'og:image', content: 'https://robinvoor.com/assets/img/og-image.png' },
  ],
})
</script>

<template>
  <router-view />
</template>
