<script setup lang="ts">
import { useI18n } from 'vue-i18n'

const { t } = useI18n()
</script>

<template>
  <main class="text-center py-10 px-4 text-teal-700 dark:text-gray-200">
    <div>
      <p class="text-4xl">
        <carbon-warning class="inline-block" />
      </p>
    </div>
    <router-view />
    <div>
      <router-link class="m-3 mt-8 text-sm btn" to="/" title="Home">
        {{ t('button.goToHome') }}
      </router-link>
    </div>
  </main>
</template>
