<template>
  <Header />
  <main class="text-gray-700 dark:text-gray-200">
    <router-view v-slot="{ Component, route }">
      <transition name="fade" mode="out-in">
        <component :is="Component" :key="route.path" />
      </transition>
    </router-view>
    <Footer />
  </main>
</template>
